.there_you_go{
  background-color: #0c172f;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  width: 165px; /* Logo size */
  height: 40px;
}


.location_botton {
  margin-left: 20px;
  width: 210px;
  border-radius: 25px !important;
  height: 40px;
  padding: 0px;
  border: 2px;
  border-color: aliceblue !important;
}


@media (max-width: 427px){
  .navbar-brand img {
    width: 100px; /* Logo size */
    height: 40px;
  }
  
}