.there_you_go{
  background-color: #0c172f;
}
/*------------ For Nav------------- */
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  width: 165px; 
  height: 40px;
}
.location_botton {
  margin-left: 20px;
  width: 205px;
  border-radius: 25px !important;
  height: 40px;
  padding: 0px;
  border: 2px;
  border-color: rgb(72, 72, 72) !important;
  text-decoration: none !important;

}
.location_bottonR {
  border: 1px solid #31c0f0!important;
}
.location_bottonRR {
  border: 1px solid #565656!important;
}
.location_anchour{
  color: rgb(249, 248, 248); 
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  background-color: transparent !important;
}
.dummy_UM{
  color: white;
}

/*------------ For Courousal------------- */

.imgDimming {
  opacity: 0.3; 
}
.ImgSizing{
  height: 275px !important;
  border-radius: 2%;
}






/*----------- For Hover ------------- */

.location_botton:hover{
  border-color: rgb(247, 246, 246) !important;
  background-color: transparent !important; 
}
.location_anchour:hover{
  border-color: rgb(247, 246, 246) !important;
  background-color: transparent !important; 
}
.no-hover{
  border-color: rgb(247, 246, 246) !important;
  background-color: transparent !important; 
}
.location_bottonR:hover{
  border: 1px solid #31c0f0!important;
}










/*----------- For Responsive ------------- */
@media (max-width: 427px){
  .navbar-brand img {
    width: 100px; 
    height: 40px;
  } 
}

@media (max-width: 790px){
.location_botton{
  display: none !important;
}
/* .location_bottonRR{
  display: none !important;
} */
.dummy_UM{
  display: none !important;
}
.Dummy-location{
  display: none !important;
}
}
@media (max-width: 1025px){
  .location_bottonRR{
    display: none !important;
  }
  }
.visible-only-on-large {
  display: none;
}


@media (min-width: 1000px) {
  .visible-only-on-large {
    display: block !important;
  }
}
