
.body{
  overflow-x: hidden !important;

}
.there_you_go{
  background-color: #0c172f;
  overflow-x: hidden !important;
}
.sticky-navbar {
  position: sticky;
  top: 0;
  z-index: 1020; }
  .forShowcase{
    z-index: 1030;
  }
/*------------ For Nav------------- */
.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.navbar-brand img {
  width: 165px; 
  height: 40px;
}
.location_botton {
  margin-left: 20px;
  /* width: 205px; */
  border-radius: 25px !important;
  height: 40px;
  padding: 0px;
  border: 2px;
  border-color: rgb(72, 72, 72) !important;
  text-decoration: none !important;

}
.location_bottonR {
  border: 1px solid #31c0f0!important;
}
.location_bottonRR {
  border: 1px solid #565656!important;
}
.location_anchour{
  color: rgb(249, 248, 248); 
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  background-color: transparent !important;
}
.dummy_UM{
  color: white;
}
.imgMainstyle{

    width: 100%;
    position: relative;
    overflow: hidden;
    white-space: normal;
    height: 240px;
    color: rgb(255, 255, 255);
    padding: 0px ;
    border-radius: 8px;

}

.imgMainstylee{

  width: 100%;
  position: relative;
  overflow: hidden;
  white-space: normal;
  height: 240px;
  color: rgb(255, 255, 255);
  padding: 0px;
  background-image: url(./Images/ImgA.jpg);
  background-size: cover;

}

.forSearch{
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-radius: 50% !important;
  background-color: transparent !important;
  border: 1px solid #565656!important;
   height: 40px;
   width: 43px;
   padding: 10px;
   line-height: 150%;
   display: flex;
   align-items: center;
  /* position: relative; Needed to make absolute positioning work */
  /* left: -1; */
}
.searchingTr{
  position: absolute;
  top: 25% !important;
  left: 25%;
}
.forboo{
  margin-right: 10px;
}
.navbar-toggler-icon{
  background-image: url(../src/Images/img.svg) !important;
}
.toogler_Toy:focus{
  border-color: none !important; /* New border color when focused (blue, for example) */
  box-shadow: none !important; /* Optional: add a box shadow to make the focus effect more prominent */
  outline: none;
}


/* ----------------------------------------------- */
@media (max-width: 991px) {  /* Target tablet and mobile view */
  .custom-toggle .navbar-toggler-icon {
    width: 30px; /* Adjust size */
    height: 30px;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .custom-toggle .navbar-toggler-icon::before {
    content: '';
    width: 100%;
    height: 4px; /* Top line of hamburger */
    background-color: #000;
    border-radius: 10px;
  }

  .custom-toggle .navbar-toggler-icon::after {
    content: '';
    width: 100%;
    height: 4px; /* Bottom line of hamburger */
    background-color: #000;
    border-radius: 10px;
  }

  .custom-toggle .navbar-toggler-icon span {
    width: 70%; /* Short middle line */
    height: 4px;
    background-color: #000;
    border-radius: 10px;
  }
}

.location-dropdown {
  position: fixed !important;
  top: 56%; 
  right: 0 !important;
  transform: translateY(-50%);
  width: 15vw; /* 15% of the screen width */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}


.location-dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.location-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.location-dropdown li:hover {
  background-color: #f0f0f0;
} */

.FornavB {
  min-height: 100%;
  overflow-y: scroll;
}


.css-1lekzkb {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;}

  .css-bcefdw {
    width: 124px;
    height: 19px;
}
.toggler-B-style{
  width: 48%;
  height: 36px;
  border-radius: 6px;
  border: 0.5px solid rgb(221, 223, 226);
  background-color: rgb(250, 250, 250);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  padding: 0px 12px;
}
.toggler-B-style-log {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.31;
  color: rgb(55, 52, 53);
}
.toggler-B-style-text {
  font-size: 14px;
  line-height: 1.31;
  color: rgb(103, 100, 101);
  text-overflow: ellipsis;
}
.togler-ticket-style {
  font-size: 16px;
  color: rgb(103, 100, 101);
  line-height: 15px;
}
.togler-ticket{
  width:23px ;
  height: 23px;
}
.forbodystyle{
  border-bottom: 2px solid #c1bfbf !important;
  border-color: #959494 !important;
}






/*------------ For Courousal------------- */

.carousel-indicators button {
  background-color: #ccc; 
  border-radius: 100% !important;
  width: 10px !important; 
  height: 10px !important; 
  margin: 0 5px; 
}
.carousel-indicators{
  margin: 0px !important;

}

.carousel-control-prev {
  display: flex !important;
          flex-direction: row !important;
          -webkit-box-pack: center !important;
          justify-content: center !important;
          -webkit-box-align: center !important;
          align-items: center !important;
          padding: 0px !important;
          width: 38px !important;
          height: 38px !important; 
          background: white !important;
          box-shadow: rgb(12, 23, 47) 0px 0px 30px !important;
          z-index: 10 !important;
          border-radius: 0px 100px 100px 0px !important;
          margin-top: 120px !important;
          opacity: 1 !important; 
}      
.carousel-control-next{
  display: flex !important;
  flex-direction: row !important;
  -webkit-box-pack: center !important;
  justify-content: center !important;
  -webkit-box-align: center !important;
  align-items: center !important;
  padding: 0px !important;
  width: 38px !important;
  height: 38px !important; 
  background: white !important;
  box-shadow: rgb(12, 23, 47) 0px 0px 30px !important;
  z-index: 10 !important;
  border-radius: 100px 0px 0px 100px !important;
  margin-top: 120px !important;
  opacity: 1 !important; 
}
.carousel-control-prev-icon {
  background-image: url(../src/Images/left.png)!important;
  display: inline-block !important;
  width: 2rem !important;
  height: 2rem !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 100% !important;
  fill: #080201 !important;  /* Set the fill color to orange */
  stroke: #090000 !important;
z-index: 2 !important;
}
.carousel-control-next-icon {
  background-image: url(../src/Images/Right.png)!important;
  display: inline-block !important;
  width: 2rem !important;
  height: 2rem !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-size: 100% !important;
  fill: #080201 !important;  /* Set the fill color to orange */
  stroke: #090000 !important;
z-index: 2 !important;
}



 










/* ------------------------------ */
.forADbanner{
  display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      padding: 9px 15px;
      background: linear-gradient(90deg, rgb(196, 70, 255) -14.33%, rgb(120, 1, 251) 38.59%, rgb(62, 0, 130) 98.88%);
      font-style: normal;
      line-height: 133%;
      font-weight: 500;
      color: rgb(231, 232, 234);
      text-align: left;
      position: relative;
      z-index: 119;
      font-size: 16px;
      border-bottom: 2px solid rgb(12, 23, 47);
      height: 48px;
  }

.imgDimming {
  opacity: 0.3; 
}
.ImgSizing{
  height: 275px !important;
  border-radius: 2%;
}
.Fortablets {
  border-color: #f3eaea !important;
  border: 2px solid;
  border-radius: 15px; 
  margin-right: 25px;
  width: 373px !important;
   }
   .Fortablets:hover{
    box-shadow: 40px  rgba(71, 70, 70, 0.5);
   }
/*------------ For Nxttocourousal------------- */
/* For tablet view */
@media (max-width: 768px) {
  .overflow-x-auto {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* smooth scrolling for mobile */
  }
  .overflow-x-auto::-webkit-scrollbar {
    display: none; 
  }


  .Fortablets {
    min-width: 300px; /* You can adjust this width */
    flex-shrink: 0; /* Prevent shrinking */
  }

  .contentfor {
    text-align: center; /* Center text content */
  }
  

  /* .nextTocourousal {
    width: 100%; 
    object-fit: cover; 


  } */
}





.nextTocourousal{
  background: rgb(238, 238, 238);
  width: 60px;
  height: 60px;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 9px;
  margin: 5px 0px 5px 7px;
}
.forSmallicon{
  float: right !important;
}
.contentfor{
  width: -webkit-fill-available
}
.forImgcol{
  background-color: #d6dadb;
}
.padForico{
  padding-left: 90px !important;
}
.forChatref {
  /* width: 150px; */
  border-color: #31c0f0; 
  border-style: solid;
  border-width: 1px;
  height: 40px;
}


/*------------ For Searchicons------------- */
.Forsearching{
  border-color: transparent;
  width: 100%;
}

.search-wrapper {
  position: relative;
  width: 250px; /* Adjust the width as needed */
}

.Forsearching {
  width: 100%;
  padding: 10px 10px 10px 30px; /* Add padding on the left to make space for the icon */
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  border-radius: 10px;/* Ensures padding is included in the input's width */
}

.search-icon {
  position: absolute ;
  top: 78%;
  left: 13px; /* Position the icon inside the input */
  transform: translateY(-50%); /* Vertically center the icon */
  font-size: 23px; /* Icon size */
  color: #504f4f; /* Icon color */
}

.Forsearching:focus {
  border-color: none !important; /* New border color when focused (blue, for example) */
  box-shadow: none !important; /* Optional: add a box shadow to make the focus effect more prominent */
  outline: none;
}










/*------------ For Recentlyviewd------------- */
.forRecenth{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 32px;
    white-space: nowrap;
    color: rgb(32, 34, 38);
    font-family: "Bebas Neue", serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;

}
.forRcentP{
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 0px;
  color: rgb(122, 124, 130);
  font-weight: 500;
  line-height: 150%;
  text-wrap: balance;
}
.forhistorylog{
    background: white !important;
    border: 1px solid rgb(240, 241, 242) !important;
    border-radius: 100% !important;
    margin-right: 12px !important;
    -webkit-box-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important ;
    -webkit-box-align: center !important;
    align-items: center !important;
    width: 50px;
    height: 50px;

}
.forCoulum{
  padding-right: 0px !important;
}
.forViewitem{
  width: 168px;
  height: 94.5px;
  border-radius: 9px;
  background-color: rgb(238, 238, 238);
}
.forimgtab{
  margin-right: 20px;
}

/* -------------For Big Poster ------------ */
.forBG{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: relative;
    gap: 15px;
    color: rgb(252, 252, 253);
    border-radius: 30px;
    margin: 45px auto;
    background-image: url(../src/Images/vjPosteBg.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 560px;
}
.forOGcontent{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: auto;
  padding: 200px 0px 10px 30px;
}
.formusicB{
  display: flex;
    width: 48px;
    height: 48px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 9px;
    border-radius: 12px;
    background: rgb(49, 192, 240);
}
.Forwordings{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 9px;
      align-self: stretch;
      font-Size: '28px';
      font-weight:'500';
}
.Bybutton{
  display: flex;
      padding: 6px 15px;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      gap: 6px;
      align-self: stretch;
      border-radius: 9px;
      background: rgb(243, 243, 245);
      font-family: "Bebas Neue";
      font-size: 16px;
      font-style: normal;
      color: rgb(12, 23, 47);
      text-transform: uppercase;
      line-height: 24px !important;
      font-weight: 400 !important;
  
}
/* ------------fOR Trending events------------ */

.RightBTN {
  background-color: rgb(255, 255, 255);
  color: black;
  text-decoration: none;
  border: 1px solid rgb(11, 11, 11);
  border-radius: 5px;
  width: 66px;
  height:66px;
}

.eventung{
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 32px;
    white-space: nowrap;
    color: rgb(32, 34, 38);
    font-family: "Bebas Neue";
    font-size: 28px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
}
.eventcard{
  width: 25%;
  position: relative;
  overflow: visible;
  white-space: normal;
  border-radius: 6px;
  border: 1px solid rgb(240, 241, 242);
  background: white;
}
.eventcardimg{
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  /* min-height: 42vw; */
}
.eventBottomcard{
  display: flex;
  padding: 9px;
  flex-direction: column;
  gap: 12px;
}
.eventcardtitle{
  color: rgb(32, 34, 38);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.eventcontent{
    display: flex;
    gap: 9px;
    -webkit-box-align: center;
    align-items: center;
}
.eventBottomcard p {
  padding: opx;
  margin: opx;
}
.rightcard{
  border-left: 1px solid rgb(49, 192, 240);
  padding-left: 9px;
  min-width: 64px;
}
.smalltext{
    color: rgb(69, 71, 77);
    font-size: 12px;
    font-weight: 600;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardfooter{
  display: flex;
      padding: 9px;
      -webkit-box-align: center;
      align-items: center;
      gap: 3px;
      border-radius: 9px;
      background: rgb(245, 252, 254);
      width: 100%;
      -webkit-box-pack: justify;
      justify-content: space-between;
      color: rgb(12, 23, 47);
      font-family: "Bebas Neue";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      text-transform: uppercase;
      height: 38px;
}

.lastcorus .carousel-inner {
  display: flex;
  width: 100%;
}


.lastcorus .carousel-control-prev{
  position: absolute !important;
  left: -3%!important;
  top: 50%;
  margin: 0px !important;
  box-shadow: none !important;
}
.lastcorus .carousel-control-next{
  position: absolute !important;
  right: -3%!important;
  top: 50%;
  margin: 0px !important;
  box-shadow: none !important;
}
.nexting{
  position: absolute !important;
  left: -3%!important;
  top: 50% !important;
  margin: 0px !important;
  box-shadow: none !important;
  border: #ccc!important;
  background:none !important ;
}
.nextingl{
  position: absolute !important;
  right: -3%!important;
  top: 50% !important;
  margin: 0px !important;
  box-shadow: none !important;
  border: white!important;
  background:none !important ;
}

.lastcorus .carousel-control-next-icon{
  background-image: url(../src/Images/Right.svg) !important;

}
.lastcorus .carousel-control-prev-icon{
  background-image: url(../src/Images/Left.svg) !important;

}
.forimgtabA{
  width: 60%;
  padding: 0px 125px 0px 125px;
}
.scrollref::-webkit-scrollbar {
  display: none !important;
}

/* Enable smooth scrolling for mobile/tablets */
.scrollref {
  -webkit-overflow-scrolling: touch;
}

/* Disable touch scrolling on larger screens (laptop and up) */
@media (min-width: 1024px) {
  .scrollref {
    -webkit-overflow-scrolling: none !important;
  }
}



/* ---------------------forAritist------------------------ */
.css-11iqm8 {
  display: flex;
  padding: 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px auto;
  flex-wrap: wrap;
}
.css-5j26x3 {
  display: block;
  width: 15%;
  height: auto;
  margin: 5px 0px;
}
.css-1ikh80e {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.css-1r92uuv {
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 0px;
  color: rgb(122, 124, 130);
  font-weight: 500;
  line-height: 150%;
  text-wrap: balance;
}

/*----------- For Hover ------------- */

.location_botton:hover{
  border-color: rgb(247, 246, 246) !important;
  background-color: transparent !important; 
}
.location_anchour:hover{
  border-color: rgb(247, 246, 246) !important;
  background-color: transparent !important; 
}
.no-hover{
  border: 1px solid #565656!important;
  background-color: transparent !important; 
}
.location_bottonR:hover{
  border: 1px solid #31c0f0!important;
}
.forSearch:hover{
  border-color: rgb(247, 246, 246) !important;

}
/* -------------------For Featured events -------------------------- */
.Featured-text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 32px;
  white-space: nowrap;
  color: rgb(32, 34, 38);
  font-family: "Bebas Neue";
  font-size: 28px;
  font-weight: 300;
  line-height: 100%;
  text-transform: uppercase;
}

.featuredcardimg{
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
 height: 350px;
}
.small-indicat {
  font-size: 11px;
  position: absolute;
  /* top: 45px !important; */
  /* right: -120% !important; */
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(194, 0, 0);
  border-radius: 6px;
  font-weight: 700;
  padding: calc(6px) calc(8px);
}
@media (max-width: 1030px){
  .featuredcardimg{
    height: 250px !important;

  }}
  @media (max-width: 1440px){
    .featuredcardimg{
      height: 350px;
  
    }}
    @media (min-width: 435px){
      .featuredcardimg{
        height: 250px;
    
      }}
/* -------------------For Browse event -------------------------- */
.forbrowsecard{
  width: 108px;
  display: block;
  margin: 5px 0px;

  /* margin: 0px 15px 0px 15px; */
}
.utilitybrowser{
display: flex;
    padding: 0px;
    margin: 0px auto;
    flex-wrap: wrap;
}
.logocard{
   display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border: 1px solid rgb(208, 208, 208);
  border-radius: 9px;
  height: 88px;
  width: 88px;
}
.dibrows{
  width: 88px;
}
.browseinghead {
  margin-top: 12px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.browseingpara {
  font-size: 11px;
  color: rgb(0, 0, 0);
  opacity: 0.6;
}
@media (max-width: 1010px){
  .forbrowsecard{
    width: 98px !important;
  }
    .logocard{
      height: 78px !important;
      width: 98px !important;
    }
}
@media (max-width: 450px){
  .forbrowsecard{
    width: 55px !important;
  }
    .logocard{
      height: 78px;
      width: 55px !important;
    }
   
}
@media (max-width: 1440px){
  .forbrowsecard{
    width: 108px !important;
  }
    .logocard{
      height: 108px !important;
      width: 108px !important;
    }
  }
  @media (max-width:768px){
    .forbrowsecard{
      width: 65px !important;
      padding: opx 10px 0px 10px !important;
    }
      .logocard{
        width: 65px !important;
        width: 85px !important;
      }
    }
  @media (max-width: 424px){
      .forbrowsecard{
        width: 45px !important;
      }
        .logocard{
          height: 78px;
          width: 45px !important;
        }
      }


/*----------- For Responsive ------------- */
@media (max-width: 427px){
  .navbar-brand img {
    width: 110px; 
    height: 30px;
  } 
  .Dummy-location{
    display: none;
  }
  .forChatref {
    width: 45px;
    height: 45px;
    border-color: #31c0f0; 
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
  }
  
  .imgMainstyle{
    border-radius: 0px; 
    height:210px !important;
  }
  .carousel-control-prev,.carousel-control-next{
    display: none !important;
  }
  .forBG{
    background-image: url(../src/Images/Vjsmalledited.png);  
    height:1000px !important;
    border-radius: 0px;
  }
  .forIdl{
    display: none;
  }
  .gRloacation{
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 790px){
/* .location_botton{
  display: none !important;
} */
/* .location_bottonRR{
  display: none !important;
} */
/* .dummy_UM{
  display: none !important;
}*/
.Dummy-location{
  display: none !important;
} 
.forOGcontent{
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  margin-top: auto;
  padding: 100px 0px 0px 0px;
}
 .formar{
  margin-left: 320px;
 }

 .navbar-brand img {
  width: 110px; 
  height: 33px;} 
  imgMainstyle

  .imgMainstyle{
    border-radius: 0px; 
    height:148px !important ;
    border-radius: 0px; 
  }
  .carousel-control-prev,.carousel-control-next{
    margin-top: 100px !important;
  }
  .forBG{
    height: 380px;
  }
  .css-5j26x3 {
    display: block;
    width: 30%;
    height: auto;
    margin: 5px 0px;
  }
  
 
}
@media (max-width: 1025px){
  .imgMainstyle{
    height:180px !important;
  }
  .Fortablets {
    border-color: #f3eaea !important;
    border: 2px solid;
    border-radius: 15px; 
    margin-right: 25px;
    width: auto !important;
     }
}




@media (max-width: 320px) {
  .forChatref {
    position: absolute; /* Make it absolute to allow for precise placement */
    right: 0; /* Align it to the right */
    top: 0; /* Keep it aligned to the top */
    margin-top: 10px; /* Add some margin to keep it from touching the edge */
  }
 
}
.forOGcontent{ 
  gap: 0px;
  padding: 0px 0px 0px 0px;

}